<app-default-login-layout
  title="Recuperar Senha"
  primaryBtnText="Enviar"
  secondaryBtnText="Voltar ao Login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!forgotForm.valid"
>

  <form [formGroup]="forgotForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Informe seu Email"
      placeholder="maria@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
  </form>

</app-default-login-layout>
