<section class="welcome-banner neon-glass">
  <div class="banner-left">
    <h2>Olá, {{ userName }}</h2>
    <p>Bem-vindo ao seu painel do PlayIt. Modernize seu repertório!</p>
  </div>

  <div class="banner-illustration">
    <img src="/assets/img/main-inlustration.png" />
  </div>
</section>

<section class="cards">
  <div class="card purple">
    <i class="ph ph-music-notes card-icon"></i>
    <h3>Seus Repertórios</h3>
    <p>Organize blocos, sets e listas de música.</p>
  </div>

  <div class="card blue">
    <i class="ph ph-calendar-check card-icon"></i>
    <h3>Agenda de Shows</h3>
    <p>Gerencie datas, locais e horários.</p>
  </div>
</section>
